<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th style="width: 33%">
        name
      </th>
      <th style="width: 33%">
        foo
      </th>
      <th style="width: 33%">
        bar
      </th>
    </tr>
  </thead>

  <tbody>
    {{#if blank}}
      {{#each blankData as |item|}}
        <tr>
          <td>{{x-blank}}</td>
          <td>{{x-blank}}</td>
          <td>{{x-blank}}</td>
        </tr>
      {{/each}}
    {{else}}
      {{#each model as |item|}}
        <tr>
          <td>{{item.name}}</td>
          <td>foo</td>
          <td>bar</td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
